<div class = "lander">
    <div class = "container">
        <h1 class="text-center">Activity Sculpture Web Configurator</h1>

        <p class="text-center">Loggin with your tracker's account to start visualizing your activity</p>

        <div class="row row-centered">
            <form class = "login col-centered col-md-4" role = "form">
                <div class = "form-group">
                    <input type = "text" placeholder = "User Name" class = "form-control">
                </div>
                <div class = "form-group">
                    <input type = "password" placeholder = "Password"
                           class = "form-control">
                </div>
                <button ui-sref = "configurator" type = "submit" class = "btn btn-success">Sign in</button>
            </form>
        </div>
    </div>
</div>
