<div class = "jumbotron blowit">
    <div class = "container">
        <h1 class="text-center">Activity Sculpture Web Configurator</h1>

        <p class="text-center">Loggin with your tracker's account to start visualizing your activity</p>

        <div class="row row-centered">
            <form class = "login col-centered col-md-4" role = "form">
                <div class = "form-group">
                    <input type = "text" placeholder = "User Name" class = "form-control">
                </div>
                <div class = "form-group">
                    <input type = "password" placeholder = "Password"
                           class = "form-control">
                </div>
                <button ui-sref = "error" type = "submit" class = "btn btn-success">Sign in</button>
            </form>
        </div>
    </div>
</div>

<div class = "blowit">
    <div class = "container">
        <h1>Tutorial</h1>

        <div class = "row">
            <div class = "col-md-4">
                <h2>Step by step guide</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                    ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                    justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                    Donec sed odio dui. </p>

                <p><a class = "btn btn-default" href = "#" role = "button">View
                    details &raquo;</a></p>
            </div>
        </div>
    </div><!-- /container -->
</div> <!-- blowit-->