<div class = "container first-container" ng-controller="ApiDataController as api">
    <h1>Get Started</h1>
    {{api.test}}
    <div class = "row">
        <div class = "col-md-4">
            <h2>Step by step guide</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
                justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                Donec sed odio dui. </p>

            <p ng-click = "api.sayHi()" class = "btn btn-default" href = "#" role = "button">View
                details &raquo;</p>
        </div>
    </div>
</div><!-- /container -->