<md-toolbar role="navigation">
  <nav layout="row" class="md-toolbar-tools">
    <h3><a class="navbar-brand">Dashboard</a></h3>
  </nav>
  <md-progress-linear ng-hide='showProgress()' class="md-accent md-hue-3"
                      md-mode="indeterminate" value="33"></md-progress-linear>
</md-toolbar>
<md-content class="md-padding">

  <div class="container" ng-show="showProgress()">
    <h1>Welcome back {{profile.name}}!</h1>

    <div layout="row">
      <div flex>
        <h2>Activity Intensity</h2>
        <nvd3-multi-bar-chart
          data="intensity"
          id="intensityGraph"
          height="500"
          xAxisTickFormat ="xAxisTickFormatFunction()"
          showXAxis="true"
          showYAxis="true"
          isArea="true"
          tooltips="true"
          showlegend="true"
          stacked = "true"
          xAxisRotateLabels="-70"
          interactive="true">
          <svg></svg>
        </nvd3-multi-bar-chart>
      </div>
    </div>
    <div layout="row">
      <div flex>
        <h2>Step Count & Distance</h2>
        <nvd3-multi-bar-chart
          data="steps"
          id="stepsGraph"
          height="500"
          xAxisTickFormat ="xAxisTickFormatFunction()"
          showXAxis="true"
          showYAxis="true"
          isArea="true"
          tooltips="true"
          stacked="true"
          showlegend="true"
          xAxisRotateLabels="-70"
          interactive="true">
          <svg></svg>
        </nvd3-multi-bar-chart>
      </div>
      <div flex>
        <h2>Elevation</h2>
        <nvd3-multi-bar-chart
          data="elevation"
          id="activityGraph"
          height="500"
          xAxisTickFormat ="xAxisTickFormatFunction()"
          showXAxis="true"
          showYAxis="true"
          isArea="true"
          tooltips="true"
          xAxisRotateLabels="-70"
          showlegend="true"
          interactive="true">
          <svg></svg>
        </nvd3-multi-bar-chart>
      </div>
    </div>
  </div>
</md-content>