<md-toolbar role="navigation">
  <nav layout="row" class="md-toolbar-tools"
       layout-align="space-between center">
    <a ng-click="showWelcomeToast()" class="navbar-brand help"><h3>Dashboard
    </h3></a>

    <h3 id="user_name">Hello, {{profile.name}}</h3>
  </nav>
  <md-progress-linear ng-hide='showProgress()' class="md-accent md-hue-3"
                      md-mode="indeterminate" value="33"></md-progress-linear>
</md-toolbar>
<md-content class="md-padding setup">
  <div class="container"
       ng-class="showProgress() ? 'show-dash' : 'hide-dash'">
    <div layout="row">
      <div flex>
        <h2>Activity Intensity</h2>
        <nvd3 options="intenistyConfig" data="graph.activity.intensity"></nvd3>
      </div>
    </div>
    <div layout="row">
      <div flex>
        <h2>Step Count & Distance</h2>
        <nvd3 options="stepsConfig" data="graph.activity.steps"></nvd3>
      </div>
      <div flex>
        <h2>Elevation</h2>
        <nvd3 options="elevationConfig" data="graph.activity.elevation"></nvd3>
      </div>
    </div>
    <div layout="row">
      <div flex>
        <h2>Sleep Summary</h2>
        <nvd3 options="sleepConfig" data="graph.sleep.depth"></nvd3>
      </div>
    </div>
    <div layout="row">
      <div flex>
        <h2>Wakeup Count</h2>
        <nvd3 options="wakeupConfig" data="graph.sleep.wakeup"></nvd3>
      </div>
    </div>
  </div>
  </div>
</md-content>