<md-dialog class="setup" aria-label="Preferences">
  <md-content>
    <md-subheader class="md-sticky-no-effect subheader">
      Configurator Settings
    </md-subheader>
    <div class="dialog-content">
      Take a moment to fill the following information. Thank you.
      <div layout="column">
        <form name="setupForm" ng-submit="submit(true)">
          <br>

          <span>Profile</span>
          <div layout="row">
            <div flex="10" class="gender">Gender:</div>
            <md-radio-group required ng-model="settings.gender" flex="25">
              <md-radio-button value="male" class="md-primary">Male
              </md-radio-button>
              <md-radio-button class="md-primary" value="female"> Female
              </md-radio-button>
            </md-radio-group>
            <md-input-container flex="25">
              <label>Age</label>
              <input required type="number" name="age" ng-model="settings.age">
            </md-input-container>
          </div>

          <span>Location</span>
          <div layout="row">
            <md-input-container flex>
              <label>Country</label>
              <input required type="text" ng-model="settings.country">
            </md-input-container>
            <md-input-container flex>
              <label>City</label>
              <input required type="text" ng-model="settings.city">
            </md-input-container>
          </div>

          <span>Time span for activity</span>
          <div layout="row">
            <md-input-container flex>
              <label>Start date</label>
              <input required type="date" ng-model="settings.startDate"
                     name="startDate">
            </md-input-container>
            <md-input-container flex>
              <label>End date</label>
              <input required type="date" ng-model="settings.endDate">
            </md-input-container>
          </div>
          <input type="submit" class="md-button md-default-theme md-raised"
                 ng-class="!$setupForm.$valid ? 'md-warn' : 'md-primary'">
        </form>
      </div>
    </div>
  </md-content>
</md-dialog>