/**************************************

Web configurator Mixins

Author: Walter Remepning Diaz
Date: 12.3.2015
Location: Munich, Germany

============================
Content Index:
  Variables
  Landing Page Forms
**************************************/
/**************************************
*   Variables
**************************************/
/*Typoghrapie Weights*/
/**************************************
*   Landing Page Forms
**************************************/
