<section layout="row" flex>
  <div ng-controller="LeftController">
    <!--////////////////////////////////////////   Left Panel ///////////////////////////////////////////!-->
    <md-sidenav id="ctrls-left" class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <!--////////////////////////////////////////  Data Catalog Tab   ///////////////////////////////////////////!-->
      <md-tabs md-dynamic-height md-border-bottom class="md-primary">
        <md-tab label="data">
          <md-content class="md-padding">
            <div layout="column">
              <div class="catalog" ng-repeat="category in data">
                <h2>{{category.name}}</h2>
                <md-button ng-repeat="key in category.keys"
                           ng-click="toggle(category.name, key, selected.data, selected.indices)"
                           ng-class="exists(key, selected.indices) ? 'md-raised md-primary':'md-raised'">
                  {{key}}
                </md-button>
                <md-divider></md-divider>

              </div>
            </div>
          </md-content>


        </md-tab>

        <!--////////////////////////////////////////  Geometry Tab   ///////////////////////////////////////////!-->
        <md-tab label="geometry">
          <md-content class="md-padding">
            <div layout="column">
              <div flex="10" layout="row" layout-align="space-around center">
                <span class="slider-name">Radius</span>
                <span
                  class="slider-value">{{ uiGeoParams.outerRadius}}</span>
              </div>
              <md-slider flex min="1" max="50" aria-label="Control Name"
                         class="md-hue-3"
                         ng-model=' uiGeoParams.outerRadius'
                         ng-change=" onUiParamsChange()">
              </md-slider>

              <div flex="10" layout="row" layout-align="space-around center">
                <span class="slider-name">Height</span>
                <span class="slider-value">{{ uiGeoParams.height}}</span>
              </div>
              <md-slider flex min="100" max="500" aria-label="Control Name"
                         class="md-hue-3" ng-model=' uiGeoParams.height'
                         ng-change=" onUiParamsChange()">
              </md-slider>

              <div flex="10" layout="row" layout-align="space-around center">
                <span class="slider-name">Date Range</span>
            <span
              class="slider-value">{{ uiGeoParams.heightSegments}} days</span>
              </div>
              <md-slider flex
                         min="{{ sliderParams.heightSegments.min}}"
                         max="{{ sliderParams.heightSegments.max}}"
                         aria-label="Control Name"
                         class="md-hue-3"
                         ng-model=' uiGeoParams.heightSegments'
                         ng-change=" onUiParamsChange()">
              </md-slider>
            </div>

            <md-switch ng-model=" uiGeoParams.interpolate"
                       aria-label="Interpolate"
                       ng-change=" onUiParamsChange()"
                       class="md-hue-3">
              <span class="slider-name ">Interpolate</span>
            </md-switch>

            <div class="subslider animate-show"
                 ng-show=" uiGeoParams.interpolate">
              <div flex="10" layout="row" layout-align="space-around center">
                <span class="slider-name">Number of Segments</span>
          <span class="slider-value">
            {{uiGeoParams.definition }}
          </span>

              </div>
              <md-slider flex
                         step="{{ sliderParams.definition.step}}"
                         min="{{ sliderParams.definition.min}}"
                         max="{{ sliderParams.definition.max}}"
                         aria-label="Control Name"
                         class="md-hue-3"
                         ng-model=" uiGeoParams.definition"
                         ng-change=" onUiParamsChange()">
              </md-slider>

            </div>
            <md-switch ng-model=" uiGeoParams.showLables" class="md-hue-3"
                       aria-label="Show Lables"
                       ng-change=" onUiParamsChange()">
              <span class="slider-name ">Show Labels</span>
            </md-switch>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-sidenav>
    <!--////////////////////////////////////////   Right Panel ///////////////////////////////////////////!-->

    <md-sidenav id="ctrls-right" class="md-sidenav-right md-whiteframe-z2"
                md-component-id="right"
                md-is-locked-open="$mdMedia('gt-md')">
      <md-tabs md-dynamic-height md-border-bottom class="md-primary">

        <!--////////////////////////////////////////   Material Tab ///////////////////////////////////////////!-->
        <md-tab label="Material">
          <md-content class="md-padding">
            <div flex="10" layout="row" layout-align="space-around center">
              <span class="slider-name">HEX Color</span>
        <span
          class="slider-value">{{ uiMatParams.color | uppercase}}</span>
            </div>
            <color-picker ng-model=" uiMatParams.color"
                          ng-change=" onUiParamsChange()"></color-picker>

            <div flex="10" layout="row" layout-align="space-around center">
              <span class="slider-name">Shininess</span>
              <span class="slider-value">{{ uiMatParams.shininess }}</span>
            </div>
            <md-slider flex
                       step=1
                       min="{{sliderParams.shininess.min}}"
                       max="{{sliderParams.shininess.max}}"
                       aria-label="Control Name"
                       class="md-hue-3" ng-model=' uiMatParams.shininess'
                       ng-change=" onUiParamsChange()">
            </md-slider>
            <md-switch ng-model=" uiMatParams.wireframe" class="md-hue-3"
                       aria-label="Wireframe"
                       ng-change=" onUiParamsChange()">
              <span class="slider-name ">Wireframe</span>
            </md-switch>
            <div class="subslider animate-show"
                 ng-show=" uiMatParams.wireframe">
              <div flex="10" layout="row" layout-align="space-around center">
                <span class="slider-name">Line Width</span>
          <span class="slider-value">{{uiMatParams.linewidth}}
          </span>
              </div>
              <md-slider flex
                         step="{{ sliderParams.linewidth.step}}"
                         min="{{ sliderParams.linewidth.min}}"
                         max="{{ sliderParams.linewidth.max}}"
                         aria-label="Control Name"
                         class="md-hue-3"
                         ng-model="uiMatParams.linewidth"
                         ng-change="onUiParamsChange()">
              </md-slider>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-sidenav>
  </div>

  <!--////////////////////////////////////////   Bottom Panel  ///////////////////////////////////////////!-->

  <!--////////////////////////////////////////   3D Scene  ///////////////////////////////////////////!-->
  <three-viewport></three-viewport>
</section>