<!--<section layout="row" flex>-->
  <!--&lt;!&ndash;Left Panel &ndash;&gt;-->
  <!--<div ui-view="left-panel"></div>-->

  <!--&lt;!&ndash;Bottom Panel &ndash;&gt;-->
  <!--<div ui-view="bottom-panel"></div>-->

  <!--&lt;!&ndash;3D Scene&ndash;&gt;-->
  <!--<three-viewport></three-viewport>-->

  <!--&lt;!&ndash;Right Panel &ndash;&gt;-->
  <!--<div ui-view="right-panel"></div>-->

<!--</section>-->


  <section layout="row" flex>
    <!--Left Panel -->
    <div ui-view="left-panel"></div>

    <!--<md-content flex class="md-padding">-->
      <three-viewport></three-viewport>
    <!--</md-content>-->
    <!--Right Panel -->
    <!--<div ui-view="right-panel"></div>-->
  </section>