<md-toolbar role="navigation">
  <nav layout="row" class="md-toolbar-tools">
    <h3><a class="navbar-brand">Dashboard</a></h3>
  </nav>
</md-toolbar>
<md-content class="md-padding" ng-controller="DashboardController">
  <div class="container">
    <h1>{{user}}, welcome back!</h1>

    <div layout="row">
      <div flex>

        <div ng-repeat="day in activity">
          Date: {{day.date}}
          Distance: {{day.distance}}
          Steps: {{day.steps}}m
        </div>
      </div>
      <div class="container" flex="60">
        <div ng-repeat="night in sleep">
          Date: {{night.date}}
          Deep sleep: {{night.data.deepsleepduration}}
          Light sleep: {{night.data.lightsleepduration}}
          Wake duration: {{night.data.wakeupduration}}
        </div>
      </div>
    </div>
  </div>
</md-content>